	@font-face 
	{
		font-family: Exo2;
		src: url(Exo2-Medium.ttf);
	}
	body{
		font-family:Exo2;
	}
	
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		margin:0;
		padding:0;
	}
	h2{
		font-size: 2em;
		margin: 0 0 18px 0;
		font-family: arial,helvetica;
	}
	
	/* Common styles
	* --------------------------------------- */
	img{
	    -webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
	}
	.section {
		background-size: cover;
		text-align:center;
		overflow:hidden;
	}
	.box{
		text-align: left;
		color: #808080;
		font-size: 1.2em;
		line-height: 1.6em;
	}
		/* Get ready section */
	.getready
	{
		border:5px solid #555;
		border-bottom-style:none;
		border-top-style:none;
		border-radius:10px;
		width:70%;
		margin: auto;
		padding-top:1%;
		padding-bottom:1%;
	}
	/*.getbutton
	{
		border:2px solid #555;
		display:inline-block;	
		margin-top:5%;
		border-radius:15px;
		transition:0.75s;
	}
	.getbutton:hover
	{
        box-shadow: 1px 1px 2px 1px #333,
					0 0 20px 1px #fff;
	}
	.getbutton:hover>a
	{
        color:#1565C0;
	}
	.getbutton:active>a
	{
        color:#fff;
		text-shadow:1px 1px 10px #555;
	}
	.getbutton a
	{
		display:inline-block;
		padding:5%;
		width:15em;
		margin:-2px;
		font-size:1.5em;
		text-decoration:none;
		color:#555;
	}*/
	.getbutton
	{
		margin-top:5%;
	}
	.getbutton button:hover
	{
        box-shadow: 1px 1px 2px 1px #333,
					0 0 20px 1px #fff;
		color:#1565C0;
	}
	.getbutton button:active
	{
		color:#fff;
		text-shadow:1px 1px 15px #555;
	}
	.getbutton button
	{
		display:inline-block;
		width:15em;
		padding:2%;
		margin:-2px;
		font-size:1.5em;
		color:#555;
		background-color:#fff;
		border:2px solid #555;
		border-radius:15px;
		transition-property:color;
		transition:0.5s;
	}
	.getready a
	{
		color:#1565C0;
		text-decoration:none;
	}
	.getready a:hover
	{
		border-bottom:1px dashed #1565C0;
	}
	.getready p{
		font-size: 1.5em;
		margin: 0 0 18px 0;
	}
	.getready>.quote
	{
		color:white;
		font-size:2.5em;	
		display:inline-block;
		
		text-shadow: 1px 1px 10px #1E88E5,
		1px 1px 3px #000;
	}

	/* Section 0
	* --------------------------------------- */
	#section0 {
		background-image: url(../imgs/background.jpg);
		background-size: 100% 150%;
		background-position: center bottom;
	}
	
	#login
	{
		position: absolute;
		width: 20em;
		height: 15em;
		right:1em;
		top:6em;
		z-index:999;
	}
	
	#about
	{
		position: absolute;
		left:1em;
		top:3em;
	}
	
	@font-face {
		font-family: visitor;
		src: url(fonts/visitor1.ttf);
	}
	
	#about .quote
	{
		color:white;
		font-size:3em;
		width:14em;
		display:inline-block;
		text-shadow: 1px 1px 10px #73a4ff;
	}
    
    #about .down a{
        margin-left:auto;
        margin-right:auto;
    }

    .center {
 	    padding: 10px;
        color:white;
    }

	.button1{
		border-radius:10px;
		border: 4px solid white;
		margin-top: 1.5em;
		width: 15em;
        height:3em;
        transition:0.75s;
	}
	
	.button1:hover{
		box-shadow: 1px 1px 2px 1px #333,
					0 0 20px 1px #fff;
		background-color:rgba(33,150,243,0.4);
	}
	
	.button1>a{
		color:white;
		display:block;
		text-align:center;
		width: 15em;
        height:3em;
        padding-top:0.5em;
        text-decoration:none;
	}

    #myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
	}



	/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	#section0 .layer{
		position: absolute;
		z-index: 4;
		width: 100%;
		left: 0;
		top: 43%;
	}
	


	/* Section 1
	* --------------------------------------- */
	#section0 .videobg
	{
		background-color:black;
		opacity:0.90;
		width:100%;
		height:100%;
	}
	#section0 .videoframe
	{
		position:relative;
		top: 20%;
	}
	#section0 iframe
	{
		border:0.5em solid #ccc;
		border-radius: 5px;
		margin: auto;
	}
	
	#section1 img{
		position:absolute;
		left: 40px;
		top: 100px;
	}

	#section1 .box{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -192px;
		margin-left: 89px;
		width: 395px;
		z-index: 1;
	}
	#section1 .imgsContainer{
		display: block;
		position: absolute;
		z-index: 1;
		top: 42%;
		left: 58%;
		margin-top: -325px;
		margin-left: -747px;
		width: 800px;
		height: 696px;
	}
	#section1 img{
		height: 100%;
	}
	/*screen resolutions between 620px and 800px*/
	@media all and (min-width: 620px) and (max-width: 800px){
		#section1 .imgsContainer{
			margin-top: -278px;
			margin-left: -685px;
			width: 647px;
			height: 563px;
		}
	}

	/*screen resolutions lower than 620px*/
	@media all and (max-width: 620px){
		#section1 .imgsContainer{
			margin-top: -208px;
			margin-left: -516px;
			width: 534px;
			height: 464px;
		}
	}
	#iphone2{
		z-index: 10;
	}
	#iphone2.active{
		-webkit-transform: translate3d(-134px, 0px, 0px);
		-moz-transform: translate3d(-134px, 0px, 0px);
		-ms-transform:translate3d(-134px, 0px, 0px);
		transform: translate3d(-134px, 0px, 0px);
	}

	#iphone3{
		z-index: 12;
	}
	#iphone3.active{
		-webkit-transform: translate3d(213px, 0px, 0px);
		-moz-transform: translate3d(213px, 0px, 0px);
		-ms-transform:translate3d(213px, 0px, 0px);
		transform: translate3d(213px, 0px, 0px);
	}

	#iphone4{
		z-index: 11;
		left: 140px;
	}

	#iphone4.active{
		-webkit-transform: translate3d(548px, 0px, 0px);
		-moz-transform: translate3d(548px, 0px, 0px);
		-ms-transform:translate3d(548px, 0px, 0px);
		transform: translate3d(548px, 0px, 0px);
	}




	/* Section 2
	* --------------------------------------- */
	#section2 img{
		position:absolute;
	}
	#section2 .imgsContainer,
	#staticImg .imgsContainer,
	#section3 .imgsContainer{
		position: absolute;
		z-index: 1;
		left: 50%;
		display: block;
		margin-top: -288px;
		margin-left: -636px;
		width: 0;
		height: 0;

		-webkit-transition: all 1.2s ease-in-out;
		-moz-transition: all 1.2s ease-in-out;
		-o-transition: all 1.2s ease-in-out;
		transition: all 1.2s ease-in-out;
	}

	#section2.moveUp .imgsContainer{
		top: 50%;
	}

	#section2.moveDown .imgsContainer,
	#staticImg .imgsContainer{
		top: 90%;
	}

	#section2.active .imgsContainer{
		top: 50%;
	}

	#section2 .box{
		top: 22%;
		left: 42%;
		position: absolute;
		width: 582px;
	}






	/* Section 3
	* --------------------------------------- */
	#section3 .imgsContainer{
		top: 50%;
	}

	#section3 img{
		top: 155px;
		left: 455px;
		position: absolute;
	}
	#section3 .box{
		text-align: center;
		margin: 10% 0 0 0;
	}



	/* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
	.fp-tooltip{
		color: #AAA;
	}
	#fp-nav span, .fp-slidesNav span{
		border-color: #AAA;
	}
	#fp-nav li .active span, .fp-slidesNav .active span{
		background: #AAA;
	}


/* NAVBAR */
.topnavigation {
	list-style: none;
	height: 50px;
	display: block;
	border: 1px solid #80DEEA;
	background: #80DEEA;
}

ul.topnavigation {
	height: 56px;
}
.topnavigation li {
	float: left;

	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 30px;
}

.topnavigation a {
	font-weight: bold;
	font-family: Helvetica;
	font-style: italic;
	font-size: 18px;
	color: #212121;

	text-decoration: none;
}

.topnavigation li:hover {
	box-shadow: inset 2px 3px 4px rgba(0, 0, 0, .3);
	cursor: pointer;
}

.topnavigation .active {
	box-shadow: inset 2px 3px 4px rgba(0, 0, 0, .3);
}

/* maincontainer */

.maincontainer {
	margin-top: 10px;
}

ul.teams {
	list-style: none;
}

.teams li:first-child {
	margin-top: 0px;
}
.teams li {
	margin-top: 5px;
	padding: 15px 10px 10px 15px;
	border: 1px solid #0288D1;

	font-family: Roboto;
	font-weight: bold;
	color: #000;
}

.teams li:hover {
	cursor: pointer;
	background: #29B6F6;
	border: 1px solid #29B6F6;
}
.marks {
	padding-left: 10px;
	height: 300px;
	border: 1px solid #424242;

	overflow: scroll;
}
.sender{
	
}